.cardLanding {
    width: 300.673px;
    height: 190.149px;
    flex-shrink: 0;
    transform: rotate(-5.827deg);
    border-radius: 14.855px;
}

.cardLanding_2 {
    width: 336.545px;
    height: 222.749px;
    flex-shrink: 0;
    transform: rotate(6.578deg);
    border-radius: 15.132px;
}