.footer {
    align-items: center;
    background: #4f4557;
    color: #F1F0EA;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    font-weight: 300;
    margin-top: 1.5rem;
    padding: 2rem 6rem;
    width: 100vw;
    position: relative;
}

.footer_lists {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.5rem;

    align-items: center;
    gap: 166px;
}

.footer_options {
    display: flex;
    flex-direction: column;
    gap: 29px;
    font-weight: 500;
}

.footer_options--list {
    font-weight: 400;
}

.lists_title {
    font-weight: 500;
    margin-bottom: 30px;
    text-align: center;
}

.rrss {
    margin-top: 29px;
    display: flex;
    gap: 21px;
    margin-bottom: 63px;
}

.socialIconBack {
    width: 50px;
    height: 50px;
    background: linear-gradient(90deg, #7565FC 0%, #8D4EB5 100%);
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.userIconContainer {
    position: absolute;
    bottom: 42px;
    right: 142px;
    background: linear-gradient(90deg, #7565FC 0%, #8D4EB5 100%);
    width: 84px;
    height: 84px;
    border-radius: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
    filter: drop-shadow(0px 4px 54px #8D4EB5);
}