.popup-container {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 200px;
  z-index: 9999;
  width: 100%;
  height: 500px;
  padding: 20px;
  border-radius: 15px;
  background: linear-gradient(90deg, #6F71E1 0%, #DB67FE 100%);
  box-shadow: 0px 4px 52px 0px #8D4EB5;
}

.popup-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #F1F0EA;
  text-align: center;
}

.close-icon {
  position: absolute !important;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.gift-icon {
  align-self: center;
  width: 175.594px;
  height: 175.594px;
  margin: 48px;
}

.popup-content h2 {
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 84px;
  gap: 30px;
}

.gift-amount {
  font-size: 36px;
  width: 282px;
  color: #F1F0EA;
  font-size: 96px;
  font-weight: 700;
  line-height: 144px;
}

@media screen and (max-width:900px) {
  .popup-container {
    height: 350px;
  }

  .popup-content h2 {
    font-size: 25px;
    line-height: 34px;
  }

  .gift-icon {
    align-self: center;
    width: 90px;
    height: 90px;
    margin: 16px;
  }

  .gift-amount {
    display: block;
    font-size: 80px;
    color: #F1F0EA;
    font-weight: 700;
    line-height: 90px;
  }
}