.containerHistory{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: auto;
  margin: 3rem 3rem 0 3rem;
  overflow-y: scroll;
}

.transactions {
  color: #F1F0EA;
  font-family: "Poppins", Helvetica;
  font-size: 20px;
  font-weight: 600;
  margin: 0!important;
}

.cardsTransactions {
  display: flex;
  border-radius: 10px;
  background: rgba(241, 240, 234, 0.12);
  flex-shrink: 0;
  width: 923px;
  height: 65px;
}

.emptyTransaction{
  display: flex;
  flex-direction: column;
  background: rgba(241, 240, 234, 0.12);
  align-items: center;
  padding: 20px;
  border-radius: 10px;
}

.transaction_icon {
  width: 40px;
}

.noEmpty{
  flex-direction: row;
  justify-content: space-between;
}

.single_transaction {
  align-items: center;
  display: flex; 
  justify-content:flex-start;
  width: 65%;
  gap: 1rem;
}

.transfer_data {
  width: 50%;
}

.transfer_date {
  width: 25%;
}

.transfer_amount {
  text-align: right;
  width: 25%;
}

@media screen and (max-width:900px) {
  .transactions{
    /* margin-top: 0;
    margin-bottom: 0;
    margin-left: 16px; */
  }

  .emptyTransaction{
    margin: auto;
    display: flex;
    flex-direction: column;
    background: rgba(241, 240, 234, 0.12);
    align-items: center;
    border-radius: 10px;
    margin: 0;
  }

  .transfer_id {
    display: none!important;
  }

  .noEmpty{    
    padding: 10px;
    flex-direction: row;
    font-size: 10px!important;
  }

  .single_transaction {
    justify-content:flex-start;
    width: 100%;
  }

  .containerHistory{
    display: flex;
    flex-direction: column;
    gap: 10px; 
    width: 100%;
  }

  .transfer_data {    
    font-size: 12px!important;
    width: 50%;
  }
  
  .transfer_date {    
    font-size: 12px!important;
    width: 22%;
  }
  
  .transfer_amount {    
    font-size: 12px!important;
    text-align: right;
    width: 18%;
  }

  .transfer_subtitle {
    display: none;
  }
}
