.home {
  margin: auto;
  margin-top: 120px;
  display: flex;
  padding-bottom: 2rem;
  height: 105vh;
}

.dividerVertical{
  background: #f1f0ea;
}

.sidebarResponsive{
  display: contents;
}

@media screen and (max-width:900px) {
  .home{
    margin-top: 75px;
    display: flex;
    justify-content: center;
    height: 130vh;
  }
  .sidebarResponsive{
    display: none;
  }
  .dividerVertical{
    display: none;
  }
}