.home {
  margin: 0;
  margin-top: 10px;
  display: flex;
  padding-bottom: 2rem;
  width: 100vw;
}

.dividerVertical{
  background: #f1f0ea;
}

.sidebarResponsive{
  display: contents;
}

@media screen and (max-width:900px) {
  .home{
    margin-top: 1px;
    display: flex;
    justify-content: center;
    height: 130vh;
  }
  .sidebarResponsive{
    display: none;
  }
  .dividerVertical{
    display: none;
  }
}