.login_form {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 16rem;
  padding-top: 12rem;
  width: 100%;
}

.login_form .form {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.login_form h1 {
  font-size: 1.25rem;
  font-weight: 500;
}

.btnGradient .login_button {
  width: 300px;
}

.text-sm {
  display: flex;
  font-size: 0.8rem;
  font-weight: 300;
}

.link-signup {
  color: #8D4EB5;
  margin-left: 0.5rem;
  text-decoration: underline;
}

.error {
  position: absolute;
  bottom: -20px;
  font-size: 0.8rem;
  color: #DD643E;
}

.response-error {
  color: #DD643E;
  font-size: .8rem;
}

.css-1laqsz7-MuiInputAdornment-root {
  cursor: pointer;
  position: absolute;
  right: 10px;
}

.css-m5fxbh-MuiButtonBase-root-MuiButton-root {
  height: 3rem;
  width: 328px!important; 
}
