.password{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 55%;
    position: relative;
}
.titlePassword{
    display: flex;
    flex-direction: column;
}
.containerFormPassword{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 34px;
}
.containerPassword{
    display: flex;
    flex-direction: column;
    gap: 36px;
}
.btnGradient--Password{
    width: fit-content!important;
    margin: auto!important;
}