.password {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    padding: 0 4rem;
}

.containerPassword {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 34rem;
}

.password_title {
    font-size: 1.25rem!important;
    font-weight: 600!important;
    padding-bottom: 0.75rem;
}

.password_subtitle {
    font-size: 1rem!important;
    font-weight: 400!important;
}

.containerFormPassword {
    width: 30rem;
    display: flex;
    flex-direction: column;
    gap: 34px;
}

.labelInput input {
    color: #f1f0ea!important;
}

.password_button {
    justify-self: flex-start;
    width: 12.875rem!important;
    margin: 19px 0 0 0!important;
}

@media screen and (max-width: 900px) {
    .password {
        padding: 0 3rem;
    }
    .containerFormPassword {
        width: 22rem;
        gap: 34px;
    }

    .password_subtitle {
        font-size: 0.8rem!important;
    }

    .containerPassword {
        width: 22rem;
    }

    .password_button {
        width: 22rem!important;
        margin: 19px 0 0 0!important;
    }
}