.profile {
    display: flex; 
    flex-direction: column; 
    gap: 1.8rem;
    margin-top: 4rem;
    padding: 0 6.56rem;
}

.circlePicture{
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background: linear-gradient(90deg, #7565FC 0%, #8D4EB5 100%);
    filter: drop-shadow(0px 4px 54px #8D4EB5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* Auxiliares: */
    margin-bottom: 40px;
    margin-top: -40px;
}

.pictureProfile{
width: 150px;
height: 150px;
border-radius: 150px;
background: lightgray 50% / cover no-repeat, #D9D9D9;
}

.pictureCamera{
    position: absolute;
    background: linear-gradient(90deg, #7565FC 0%, #8D4EB5 100%);
    width: 40px;
    height: 40px;
    border-radius: 40px;
    bottom: 10.4px;
    right: 10.4px;
}

.camera{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.labelInput{
    display: flex;
    flex-direction: column;
    /* width: 40%; */
    color: #f1f0ea!important;
    font-size: 0.8rem;
    font-weight: 400;
    gap: 9px;
}

.containerLabel{
    display: flex;
    gap: 16px;
}

.address {
    color: #f1f0ea!important;
    font-size: 1rem;
    font-weight: 400;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border-color: #f1f0ea!important;
    border-radius: 10px!important;
}

.css-mye7ox-MuiInputBase-root-MuiOutlinedInput-root{
    color: #f1f0ea!important;
    height: 48px;
}

.css-69oiey-MuiInputBase-root-MuiOutlinedInput-root{
    color: #f1f0ea!important;
    height: 48px;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{
    height: 48px!important;
}

.response-error {
  color: #DD643E;
  font-size: .8rem;
}

.response-success {
    color: green;
    font-size: .8rem;
}

.response-activation {
    color: green;
    font-size: 1rem;
}
