.settings{
    display: flex;
}

.settings_sidebar {
    padding: 0 1rem;
    width: 100%;
}

.sidebar_title {
    padding: 1rem 0 3rem;
}

@media screen and (max-width: 900px) {
    .settings_sidebar {
        display: none;
    }
}