.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.focus{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.divider{
    width: 219px;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

@media screen and (max-width: 900px) {
    .sidebar{
        width: 100%;
    }
    .focus{
        gap:1.5rem
    }

    .divider{
        margin-top: 0;
margin-bottom: 0;
    }
}