.sidebar{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-top: 3rem;
}

.focus{
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.divider{
    width: 219px;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background: #f1f0ea;
}

@media screen and (max-width: 900px) {
    .sidebar{
        width: 100%;

    }
    .focus{
        gap:1.5rem
    }
    .divider{
        display: none;
    }
    .sidebarResponsive{
        display: none;
    }
}