.termsContainer {
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  gap: 3rem;
  margin-top: 40px;
  padding: 0 2rem 2rem;
}

.content h5 {
  margin: 1rem 0;
}

.terms_title {
  text-align: center;
}

.content ul {
  padding-left: 25px;
}

.content li {
  margin-bottom: 3px;
}

.content a {
  color: #8D4EB5;
  text-decoration: none;
}