.transfer {
    display: flex;
    flex-direction: column;
    height: 95vh;
    padding: 3rem;
    width: 100%;
}

.titleSubtitle {
    display: flex;
    flex-direction: column;
}

.titleTransfer {
    font-size: 2.5rem;
    font-weight: 700;
    padding-bottom: 1.25rem;
}

.subtitleTransfer {
    font-size: 1.5rem;
    font-weight: 600;
}

.containerAmount {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-top: 2.75rem;
}

.balance {
    display: flex;
    align-items: center;
}

.amount {
    color: #f1f0ea !important;
    font-size: 6rem;
    font-weight: 600;
}

.available {
    font-size: 1rem;
    font-weight: 300;
    padding: 0.8rem 0 3.62rem 0;
}

.transfer_info {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

label {
    color: gray!important;    
}

.sinBorde input {
    color: #F1F0ea!important;
    text-align: center;   
    font-size: 6rem;
    font-weight: 600;
    width: 400px!important;
}

.transaction_input input {
    color: #F1F0ea!important;
    text-align: center;   
    font-size: 1rem;
    font-weight: 300;
    width: 17rem!important;
}

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: none;
}

.money{
    display: flex;
    flex-direction: column;
    align-items: center;
        object-fit: contain;
        
}

.boxDetailTransfer{
    color: #F1F0EA;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
   width: 609px;
   height: 202px;
   border-radius: 10px;
   border: 1px solid #F1F0EA;
    background: rgba(241, 240, 234, 0.12);
}

.btnBack{
    background: none;
    box-shadow: none;
    border-radius: 10px;
    border: 2px solid #FFF!important;
}
.transfer_button {    
    width: 12.875rem!important;
}

.transfer_error {
    text-align: center;
    font-size: 0.8rem;
    color: #DD643E;
}
  
@media screen and (max-width:900px) {
    .titleTransfer {
        font-size: 1.5rem;
        font-weight: 700;
    }
    
    .subtitleTransfer {
        font-size: 1rem;
        font-weight: 600;
    }

    .amount {
        font-size: 3rem;
    }

    .sinBorde input {
        font-size: 3rem;
        width: 13rem!important;
    }
}