.who_we_are {
  align-items: center;
  display: flex;
  color: #FFFFFF;
  flex-direction: column;
  gap: 1rem;
  margin-top: 150px;
  padding: 0 5rem 5rem;
  text-align: justify;
  width: 100%;
}

.subtitle1 {
  font-size: 1.5rem !important;
  font-weight: 500 !important;
  margin: 1rem !important;
}

.logo_nc {
  box-shadow: 0px 4px 52px 0px #8D4EB5;
  border-radius: 50px;
  margin: 1rem;
  width: 100px;
}

.team {
  /* display: grid;
  grid-template-columns: 50% 50%; */
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
  width: 90%;
}

.team_member {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 250px;
  height: 350px;
  gap: 14px;
  background: rgba(241, 240, 234, 0.12);
  backdrop-filter: blur(26px);
}

.team_img {
  box-shadow: 0px 4px 52px 0px #8D4EB5;
  border-radius: 150px;
  margin: 1rem;
  width: 150px;
}

.team_name {
  font-size: 1.2rem;
  font-weight: 500;
}

.team_links {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  width: 130px;
}

.team_icon {
  width: 30px;
}

.subtitle2 {
  font-size: 1.2rem !important;
  font-weight: 400 !important;
}

@media screen and (max-width:900px) {
  .who_we_are {
    font-size: 0.8rem;
    margin-top: 100px;
    padding: 0 2rem 2rem;
    text-align: left;
  }

  .subtitle1 {
    font-size: 1rem !important;
    margin: 0.5rem!important;
  }

  .team {
    /* display: grid;
    grid-template-columns: 50% 50%; */
    justify-content: center;
    column-gap: 15px;
    row-gap: 15px;
    display: flex;
    flex-wrap: wrap;
    margin: 5px;
    width: 95%;
  }

  .team_member {
    width: 140px;
    height: 230px;
    gap: 10px;
  }

  .team_img {
    margin: 0.5rem;
    width: 100px;
  }
  
  .team_name {
    font-size: 0.8rem;
  }
  
  .team_links {
    margin-top: 5px;
    width: 100px;
  }
  
  .team_icon {
    width: 25px;
  }
  
  .subtitle2 {
    text-align: center;
    font-size: 1rem !important;
  }
}