.gridCards{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: flex-end;
    grid-gap: 16px;
    padding: 16px;
    height: 368px;
}

.card { 
    display: flex;
    align-items: center;
    padding: 12px 30px;
    border-radius: 10px;
    width: 245px;
    height: 100px;
    gap: 14px;
    background: rgba(241, 240, 234, 0.12);
    backdrop-filter: blur(26px);
}

.iconText {
  color: #FFFFFF;
  font-family: 'Poppins';
  font-weight: 600;
}