.header{
    border-radius: 10px;
    background: linear-gradient(52deg, rgba(241, 240, 234, 0.12) 0%, rgba(241, 240, 234, 0.05) 50%, rgba(241, 240, 234, 0.06) 100%);
    backdrop-filter: blur(11.5px);
}