.header{
    background: linear-gradient(52deg, rgba(241, 240, 234, 0.00) 0%, rgba(241, 240, 234, 0.05) 50%)!important;
    box-shadow: 0px 8px 25px 0px rgba(0, 0, 0, 0.15)!important;
    backdrop-filter: blur(27px);
    height: 95px;
}

.name {
    gap: 1rem;
    font-family: Poppins;
    font-size: 36px;
    font-weight: 700;
    line-height: normal;
    margin-right: -99px;
}

.toolbar {
    padding-top: 1rem;
}
