.signup {
  min-height: 100vh;
  color: #F1F0EA;
  padding-top: 150px;
}

.signup main {
  display: flex;
  justify-content: center;
}

.signup main section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
}

.signup form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.signup h1 {
  font-weight: 400;
  font-size: 2rem;
}

.link-login {
  color: #8D4EB5;
  text-decoration: underline;
}
